@inherits WebViewPage
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@(ViewBag.Title)</title>
		@Styles.Render("~/bundles/css")
	</head>
	<body class="modern-ui">
		<div class="page">
			<div class="nav-bar">
				<div class="nav-bar-inner padding10">
					<a href="@Url.Action("index", "home")"><span class="element brand">Knowledge Base</span></a>
					<div class="divider"></div>
					<ul class="menu">
						<li>
							<a href="@Url.Action("index", "home")">Home</a>
						</li>
						@if(Current.Controller.CurrentUser.IsAnonymous)
						{
							<li>
								<a href="@Url.Action("login", "auth")">Login</a>
							</li>
							<li>
								<a href="@Url.Action("register", "auth")">Register</a>
							</li>
						}
						else
						{
							<li>
								<a href="@Url.Action("profile", "user", new { Current.Controller.CurrentUser.ID })">Profile</a>
							</li>
							if(Current.Controller.CurrentUser.IsAdmin)
							{
								<li>
									<a href="@Url.Action("","")">Add Question</a>
								</li>
								<li>
									<a href="@Url.Action("", "")">Admin</a>
								</li>
							}
							<li>
								<a href="@Url.Action("logout", "auth")">Logout</a>
							</li>
						}
					</ul>
				</div>
			</div>
			<div class="page-region">
				<div class="page-region-content">
					@RenderBody()
				</div>
			</div>
			<div class="nav-bar">
				<div class="nav-bar-inner padding10">
					<span class="element"><a class="fg-color-white" href="http://github.com/friedr1c3/simple-faq">SimpleFAQ</a> is an open-source project.</span>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		@Scripts.Render("~/bundles/js")
	</body>
</html>