@inherits WebViewPage<Question>
@{
	bool edit = ViewBag.Edit;
    ViewBag.Title = (edit ? "Edit" : "Add") + " Article";
}

<h2>@(edit ? "Edit" : "Add") Article</h2>
<div class="grid">
	<div class="row">
		<div class="span10">
			@{
				Html.BeginForm((edit ? "edit" : "add"), "article", FormMethod.Post);
			}
				<h4>Title</h4>
				@Html.ValidationMessageFor(x => x.Title)
				<div class="input-control text">
					@Html.TextBoxFor(x => x.Title, new { placeholder = "Enter a title" })
					<button class="helper"></button>
				</div>
				<h4>Answer</h4>
				<div class="input-control text">
					@Html.TextAreaFor(x => x.Title, new { placeholder = "Enter an answer" })
				</div>
				<h4>Password (optional)</h4>
				<div class="input-control text">
					@Html.PasswordFor(x => x.Password, new { placeholder = "Enter a password (optional)", autocomplete = "off" })
					<button class="helper"></button>
				</div>
				<h4>Password confirm (optional)</h4>
				<div class="input-control text">
					@Html.PasswordFor(x => x.PasswordConfirm, new { placeholder = "Enter the password again", autocomplete = "off" })
					<button class="helper"></button>
				</div>
			@{
				Html.EndForm();
			}
		</div>
	</div>
</div>